@model IEnumerable<ProductEntity>
@{
    ViewData["Title"] = "Admin";
}


<div class="container">
    <h1 class="collection-title">All registered products</h1>

    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-4 mt-5">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">ArticleNumber: @product.ArticleNumber</h5>
                        <div>ProductName: @product.ProductName</div>
                        <div>Description: @product.ProductDescription</div>
                        <div>Price: @product.Price</div>
                        <div>Category: @product.ProductCategory</div>                      
                        
                        <div class="buttons">
                            <a class="link btn btn-danger" asp-controller="Admin" asp-action="Index">Delete Product</a>
                            <a class="link btn btn-success" asp-controller="Admin" asp-action="Index">Update Product</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <a class="link btn btn-primary d-grid mb-5" asp-controller="Admin" asp-action="Index">Back to admin dashboard</a>
</div>


